*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    background-color: #009be5;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 8px 20px;

}
.text-fisrt {
    position: absolute;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    gap: 15px;
    right: 10px;
}
.right-corner-text {
    font-size: 12px;
    color:beige;
}
.material-symbols-outlined {
    color: white;
}
.profile-photo {
    border-radius: 60%;
}
.text-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading {
    font-weight: 600;
    font-size: 28px;
    color: white;
}
.notice {
    display: flex;
    gap: 20px;
}
.text-block {
    border: 1px solid white;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
}
ul {
    display: flex;
    gap: 15px;
}
li {
    list-style: none;
}
.text-last {
    display: flex;
    gap: 15px;
    color: gainsboro;
}
a {
    text-decoration: none;
}
.underline-text {
    color:white;
    border-bottom: 4px solid white;
}
.main {
    background-color: #eaeff1;
}
.block {
    padding: 48px 200px;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-bar {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    padding: 10px 0px;
}
.search-icon {
    padding-right: 25px;
}
.text-search{
    padding-right: 150px;
    color: gray;
}
.add-block {
    border: 1px solid #009be5;
    padding: 7px;
    background-color: #009be5;
    border-radius: 4px;
    color: white;
    
}
.paragraghp {
    background-color: white;
    padding: 100px 200px;
    color: gray;
}
.research-icon {
    padding-left: 20px;
    color: gray;
}
