*{
    padding: 0;
    margin: 0;
}
body {
    padding: 15px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid #f56a6a;
    width: fit-content;
    padding-bottom: 10px;
}
table {
    padding-top: 30px;
}
.box1 {
    padding-right: 25px;
    border-right: 2px solid rgb(214, 214, 214);
}
.box2 {
    padding: 0px 25px;
    border-right: 2px solid rgb(214, 214, 214);
}
.box3 {
    padding: 0px 25px;
    
}
.photo {
    padding-left: 0px;
    height: 180px;
    width: 300px;
    border-radius: 4px;
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 20px;
}
.paragrapgh {
    width: 300px;
    font-size: 14px;
    color: gray;
    padding-bottom: 20px;
}
.button {
    padding: 8px 18px;
    color: #f56a6a;
    border: 2px solid #f56a6a;
    background-color: white;
    border-radius: 4px;
}