* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Phần top-header */
.top-header {
    width: 1440px;
    height: 48px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-header p {
    width: 474;
    height: 18;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: white;
}
.top-header a {
    width: 68;
    height: 24;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
    color: white;
}
.top-header select {
    background-color: #000000;
    color: white;
    border: none;
    margin-left: 8%;
    border-radius: 0%;
}
.top-header option {
    background-color: rgb(46, 45, 45);
}
/* Phần header */
.header {
    width: 1170px;
    height: 38px;
    top: 86px;
    margin-left: 15%;
    gap: 100px;
    display: flex;
    line-height: 50px;
}
.header h3 {
    width: 118;
    height: 24;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3%;
}
