* {
    margin: 0;
    padding: 0;
}
.background {
    background-color: rgb(216, 214, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 45%;
    height: 100%;
    padding: 20px;
    line-height: 1.5;
}
img {
    vertical-align: middle;
}
.button_red {
    background-color: rgb(219, 55, 55);
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 20px;
}
.button_gray {
    background-color: rgb(226, 223, 223);
    color: rgb(53, 49, 49);
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.button {
    margin-top: 30px;
}